<div id="<%= dom_id movie %>">
   <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Customers:</strong>
    <% if movie.customers.any? %>
      <% movie.customers.each do |customer| %>
        <%= customer.name %>
      <% end %>
    <% else %>
      No customer has rented this movie.
    <% end %>
  </p>
</div>