<h1>Movies</h1>

<div id="items-list">
  <% @movies.each do |movie| %>
    <div class="item">
      <h2>Name: <%= movie.name %></h2>
      <p>Description: <%= movie.description %></p>
      
      <% if movie.customers.any? %>
        <h3>Rented by:</h3>
        <ul>
          <% movie.customers.each do |customer| %>
            <li><%= customer.name %></li>
          <% end %>
        </ul>
      <% else %>
        <p>Esta película aún no ha sido arrendada.</p>
      <% end %>
    </div>
  <% end %>
</div>
