<h1>Customers</h1>

<div id="items-list">
  <% @customers.each do |customer| %>
    <div class="item">
      <h2>Name: <%= customer.name %></h2>
      
      <% if customer.movies.any? %>
        <h3>Movies Rented:</h3>
        <ul>
          <% customer.movies.each do |movie| %>
            <li><%= movie.name %>: <%= movie.description %></li>
          <% end %>
        </ul>
      <% else %>
        <p>Este cliente aún no arrienda ninguna pelicula.</p>
      <% end %>
    </div>
  <% end %>
</div>
