/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* app/assets/stylesheets/application.css */
 #items-list {
    margin: 20px;
  }
  
  .item {
    background-color: #0033AA;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #FF6600;
  }
  
  .item h2,
  .item h3 {
    color: #FFEE00;
  }
  
  .item h3 {
    border-bottom: 1px dotted #FF6600;
  }
  
  .item ul {
    list-style-type: square;
  }
  
  .item li {
    color: #FFFFFF;
  }
  
  .item p {
    color: #FF6600;
  }

  .navbar {
    background-color: #0000FF; 
    padding: 10px 0;
    text-align: center;
  }
  
  .navbar a {
    color: #FFFF00; 
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  